In [1]:
bool(1)

True

In [2]:
bool('a')

True

In [3]:
bool(0)

False

In [4]:
bool('')

False

In [5]:
if 1:
    print(True)

True

In [6]:
if 100:
    print(True)

True

In [7]:
if 'True':
    print(True)

True

In [8]:
if 'False':
    print(True)

True

In [9]:
if 0:
    print(True)
else:
    print(False)

False

In [10]:
if '':
    print(True)
else:
    print(False)

False

In [11]:
if 1 < 2:
    print(True)
else:
    print(False)

True

In [12]:
if 1 > 2:
    print(True)
else:
    print(False)

False

In [13]:
a = 2
b = 3

In [14]:
if a == 2 and b == 3:
    print(True)
else:
    print(False)

True

In [15]:
if 'a' in ['a', 'b', 'c']:
    print(True)
else:
    print(False)

True

In [16]:
if 10 in [0,1,2,3,4,5]:
    print(True)
else:
    print(False)

False

In [17]:
id(1)

9788608

In [18]:
x = 1
id(x)

9788608

In [21]:
if x is 1:
    print(True)

True

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-21-8e10c2966818>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if x is 1:

In [23]:
my_list1 = [0,1,2]
my_list2 = [0,1,2]

In [24]:
if my_list1 == my_list2:
    print(True)
else:
    print(False)

True

In [25]:
if my_list1 is my_list2:
    print(True)
else:
    print(False)

False

In [26]:
print(id(my_list1))
print(id(my_list2))

140153310767360
140153260092800

In [28]:
a = 30
if a % 15 == 0:
    print('fifteen')
elif a % 3 == 0:
    print('three')
elif a % 5 == 0:
    print('five')
else:
    print(False)

fifteen

In [29]:
for i in [0,1,2,3,4,5]:
    print(i)

0
1
2
3
4
5

In [31]:
my_list = [0,1,2,3,4,5]
for i in my_list:
    print(i)

0
1
2
3
4
5

In [32]:
for i in my_list:
    print(i)
    
print(my_list)

0
1
2
3
4
5
[0, 1, 2, 3, 4, 5]

In [33]:
for my_list in range(6):
    print(my_list)
    
print(my_list)

0
1
2
3
4
5
5

In [34]:
my_list = [0,1,2,3,4,5]
for i in my_list:
    if i % 2 == 0:
        print(i)

0
2
4

In [35]:
for i in my_list:
    if i % 2 != 0:
        print(i)

1
3
5

In [36]:
for i in my_list[::2]:
    print(i)

0
2
4

In [37]:
for i in my_list[1::2]:
    print(i)

1
3
5

In [38]:
for i in my_list:
    if i == 3:
        print(i)

3

In [39]:
for i in my_list:
    if i == 3:
        print(i)
        break

3

In [43]:
for i in my_list:
    if i != 3:
        continue
    print(i)

3

In [44]:
for i in my_list:
    if i == 3:
        continue
    print(i)

0
1
2
4
5

In [45]:
for i in my_list:
    if i != 3:
        print(i)

0
1
2
4
5

In [46]:
for i in my_list:
    if i > 3 or i < 3:
        print(i)

0
1
2
4
5

In [47]:
for i in my_list:
    if i >= 2 and i <= 4:
        print(i)

2
3
4

In [56]:
for i in my_list:
    if i < 2 or i > 4:
        continue
    print(i)

2
3
4

In [58]:
for i in my_list:
    if i == 2 or i == 4:
        continue
    print(i)

0
1
3
5

In [59]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list:
    print(i)

okinawa
tokyo
osaka
fukuoka
hokkaido

In [61]:
for i in my_list:
    if i == 'okinawa':
        print(i)

okinawa

In [63]:
for i in my_list:
    if i != 'okinawa':
        continue
    print(i)

okinawa

In [64]:
for i in my_list:
    if i != 'tokyo':
        print(i)

okinawa
osaka
fukuoka
hokkaido

In [65]:
len(my_list)

5

In [66]:
print(len(my_list[2]))

5

In [67]:
for i in my_list:
    if len(i) >= 6:
        print(i)

okinawa
fukuoka
hokkaido

In [68]:
for i in my_list:
    if len(i) <= 6:
        print(i)

tokyo
osaka

In [69]:
my_list = [0,1,2,3,4,5]
sum = 0
for i in my_list

SyntaxError: invalid syntax (<ipython-input-69-bb766185038e>, line 4)