In [1]:
if 1 == 1:
    pass

In [4]:
def my_func1():
    pass

In [5]:
len([0,1,2])

3

In [6]:
my_func1()

In [7]:
def my_func1(x):
    pass

In [8]:
my_func1(1)

In [11]:
def my_func2(x):
    return x * 2

In [12]:
def my_func2(x):
    result = x * 2
    return result

In [16]:
my_func2(1)

2

In [17]:
my_func2(2)

4

In [18]:
if my_func2(10) % 2 == 0:
    print(True)
else:
    print(False)

True

In [19]:
my_res = my_func2(10)
if my_res % 2 == 0:
    print(True)
else:
    print(False)

True

In [21]:
def my_func3(x,y,z):
    return x + y + z

In [24]:
my_func3(1,2,3)

6

In [25]:
if my_func3(1,2,4) % 2 == 0:
    print(True)
else:
    print(False)

False

In [26]:
if my_func3(1,2,3) % 2 == 0:
    print(True)
else:
    print(False)

True

In [27]:
def my_func4(x):
    if x % 2 == 0:
        return True
    else:
        return False

In [31]:
def my_func4(x):
    if x % 2 == 0:
        res = True
    else:
        res = False
        
    return res

In [32]:
my_func4(3)

False

In [33]:
my_func4(2)

True

In [34]:
def my_func5(x,y):
    if x < y:
        return True
    else:
        return False

In [35]:
my_func5(1,2)

True

In [36]:
my_func5(2,1)

False

In [37]:
def my_func5(x,y):
    res = True
    if x < y:
        res = True
    else:
        res = False
        
    return res

In [38]:
my_func5(2,3)

True

In [40]:
my_func5(3,2)

False

In [42]:
def my_func6(my_list):
    res = True
    if 2 in my_list:
        res = True
    else:
        res = False
    
    return res

In [43]:
my_list = [0,2,3,4,5]
my_func6(my_list)

True

In [44]:
my_list = [0,1,3,4,5]
my_func6(my_list)

False

In [45]:
def my_func7(my_list):
    for i in my_list:
        print(i)

In [46]:
my_list = [0,1,2,3,4,5]
my_func7(my_list)

0
1
2
3
4
5

In [47]:
my_list = ['okinawa','tokyo','osaka']
my_func7(my_list)

okinawa
tokyo
osaka

In [48]:
def my_func8(x,y=10):
    print(x)
    print(y)
    return x * y

In [49]:
my_func8(1,5)

1
5

5

In [50]:
my_func8(10,5)

10
5

50

In [51]:
my_func8(10)

10
10

100

In [52]:
def my_func9(*args):
    print(args)

NameError: name 'args' is not defined