In [3]:
multiplicated_xy_dict = {}
I = 3
J = 3
for i in range(I):
    multiplicated_xy_dict[i] = {}
    for j in range(J):
        multiplicated_xy_dict[i][j] = i*j
multiplicated_xy_dict

{0: {0: 0, 1: 0, 2: 0}, 1: {0: 0, 1: 1, 2: 2}, 2: {0: 0, 1: 2, 2: 4}}

In [5]:
print('Key', 'Key2', 'Val', sep='\t')
for i, v1 in multiplicated_xy_dict.items():
    for j, v2 in v1.items():
        print(i, j, v2, sep='\t')

Key	Key2	Val
0	0	0
0	1	0
0	2	0
1	0	0
1	1	1
1	2	2
2	0	0
2	1	2
2	2	4

In [6]:
intdict = {'1': 'one', '2': 'two', '3': 'three'}
for key, val in intdict.items():
    print(key, val)

1 one
2 two
3 three

In [7]:
mountains = ['fuji', 'kitadake', 'okuhodakadake']
for i, mt in enumerate(mountains):
    print(i, mt)

0 fuji
1 kitadake
2 okuhodakadake

In [8]:
order = [1, 2, 3]
mountains = ['fuji', 'kitadake', 'okuhodakadake']
height = [3776, 3193, 3190]
for odr, mt, ht in zip(order, mountains, height):
    print(odr, mt, ht)

1 fuji 3776
2 kitadake 3193
3 okuhodakadake 3190

In [9]:
mountains = ['kitadake', 'okuhodakadake', 'fuji']
for mt in sorted(mountains):
    print(mt)

fuji
kitadake
okuhodakadake

In [10]:
mountains = ['fuji', 'kitadake', 'okuhodakadake']
for mt in reversed(mountains):
    print(mt)

okuhodakadake
kitadake
fuji

In [13]:
mountain_in_japan = {'fuji': 3776, 'kitadake': 3193, 'okuhodakadake': 3190}
mountain_in_japan_sorted = sorted(mountain_in_japan.items(), key=lambda x: x[0])
for key, val in mountain_in_japan_sorted:
    print(key, val)

fuji 3776
kitadake 3193
okuhodakadake 3190

In [14]:
mountain_in_japan = {'fuji': 3776, 'kitadake': 3193, 'okuhodakadake': 3190}
mountain_in_japan_sorted = sorted(mountain_in_japan.items(), key=lambda x: x[1])
for key, val in mountain_in_japan_sorted:
    print(key, val)

okuhodakadake 3190
kitadake 3193
fuji 3776

In [15]:
for key, val in reversed(mountain_in_japan_sorted):
    print(key, val)

fuji 3776
kitadake 3193
okuhodakadake 3190

In [16]:
[1, 2, 3] == [1, 2, 3]

True

In [17]:
(0, 1, 2) == (0, 1, 2)

True

In [18]:
'abc' < 'abd'

True

In [19]:
print(ord('c'))
print(ord('d'))

99
100

In [20]:
set([0, 1, 2]) == set([0, 1, 2])

True

In [21]:
[0, 1, 2] == (0, 1, 2)

False

In [22]:
[0, 1, 2] < (0, 1, 2)

TypeError: '<' not supported between instances of 'list' and 'tuple'

In [23]:
4 == 4 == 1

False

In [24]:
(4 == 4) == 1

True

In [25]:
x = 2
1 < x < 3

True

In [26]:
1 < x and x < 3

True

In [27]:
print(1 and 2 and 3)

3

In [28]:
print(bool(1 and 2 and 3))

True

In [29]:
print(1 and 2)

2

In [30]:
print(2 and 1)

1

In [31]:
bool(3)

True

In [32]:
print(0 and 1)

0

In [33]:
x = 2
y = 1
print(x and y)

1

In [35]:
print(1 or 2 or 3) #一番目

1

In [36]:
print(3 or 2 or 1)

3

In [39]:
x = 0  #ゼロはfalse
y = 2  #Trueになると終わる
z = 3
print(x or y or z)

2

In [40]:
x = 0 
y = 0 
z = 2 
print(x or y or z)

2