In [1]:
square = []
square.append(1)
square.append(4)
square.append(9)
square.append(16)
square.append(25)
print(square)

[1, 4, 9, 16, 25]

In [2]:
square2 = [36, 49]
print(square)

[1, 4, 9, 16, 25]

In [3]:
square2 = [36, 49]
square.extend(square2)
print(square)

[1, 4, 9, 16, 25, 36, 49]

In [4]:
square.insert(2, 7)
print(square)

[1, 4, 7, 9, 16, 25, 36, 49]

In [5]:
square.remove(7)
print(square)

[1, 4, 9, 16, 25, 36, 49]

In [6]:
print(square.pop(1))

4

In [7]:
print(square)

[1, 9, 16, 25, 36, 49]

In [8]:
square.clear()
print(square)

[]

In [9]:
square = [1, 4, 9, 16, 25]
print(square.index(16))

3

In [10]:
print(square.count(16))

1

In [11]:
square = [16, 9, 25, 1, 4]
square.sort()
print(square)

[1, 4, 9, 16, 25]

In [14]:
x = [[5, 8, 10],
     [7, 3, 2],
     [21, 2, 9],
     [99, 58, 33]]
x.sort(key=lambda x: x[2], reverse=True)
print(x)

[[99, 58, 33], [5, 8, 10], [21, 2, 9], [7, 3, 2]]

In [15]:
square = [1, 4, 9, 16, 25]
square.reverse()
print(square)

[25, 16, 9, 4, 1]

In [18]:
square = [[1, 4, 9], [16, 25]]
square2 = square.copy()
print(square2)

[[1, 4, 9], [16, 25]]

In [20]:
members = ['Yamada', 'Tanaka', 'Satou', 'Suzuki']
name = members.pop(3)
print(members)

['Yamada', 'Tanaka', 'Satou']

In [21]:
stack = []
stack.append(1)
print('stack:', stack)
stack.append(2)
print('stack:', stack)
print('pop 1st value:', stack.pop())
print('pop 2st value:', stack.pop())
print('stack:', stack)

stack: [1]
stack: [1, 2]
pop 1st value: 2
pop 2st value: 1
stack: []

In [22]:
a = [1, 2]
b = [3, 4]
x = [a, b]
print(x)

[[1, 2], [3, 4]]

In [24]:
a[0] = 99
print(x)

[[99, 2], [3, 4]]

In [25]:
import copy
square = [[1, 4, 9], [16, 25]]
square2 = copy.copy(square)
square[0][0] = 4
square2

[[4, 4, 9], [16, 25]]

In [27]:
import copy
square = [[1, 4, 9], [16, 25]]
square2 = copy.copy(square)
square[0] = [36]
print(square)
print(square2)

[[36], [16, 25]]
[[1, 4, 9], [16, 25]]

In [29]:
import copy
square = [[1, 4, 9], [16, 25]]
square2 = square
square[0] = [36]
print(square)
print(square2)

[[36], [16, 25]]
[[36], [16, 25]]

In [31]:
import copy
square = [[1, 4, 9], [16, 25]]
square2 = copy.deepcopy(square)
square[0][0] = 99
print(square2)
square[1] = 999
print(square2)
square2[1][0] = 99
print(square)

[[1, 4, 9], [16, 25]]
[[1, 4, 9], [16, 25]]
[[99, 4, 9], 999]

In [32]:
prime = [2, 3, 5, 7, 11, 13]
prime_square = [x**2 for x in prime]
print(prime_square)

[4, 9, 25, 49, 121, 169]

In [35]:
multiplication = [i * j for i in range(1, 3) for j in range(1, 10)]
print(multiplication)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [37]:
prime = [2, 3, 5, 7, 11, 13]
prime_square = []
for x in prime:
    prime_square.append(x**2)
print(prime_square)

[4, 9, 25, 49, 121, 169]

In [40]:
multiplication = []
for i in range(1, 3):
    for j in range(1, 10):
        multiplication.append(i * j)
print(multiplication)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [41]:
I = 2
J = 4
mat = [[i * J  + j + 1 for j in range(J)] for i in range(I)]
print(mat)

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [44]:
I = 2
J = 4
mat = []
for i in range(I):
    mat2 = []
    for j in range(J):
        mat2.append(i * J + j + 1)
    mat.append(mat2)
print(mat)

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [47]:
prime = [2, 3, 5, 7, 11, 13]
prime_square = [x**2 for x in prime if x**2 > 100]
print(prime_square)

[121, 169]

In [48]:
name_list = [('Yamada', 20), ('Sato', 35), ('tanaka', 50), ('suzuki', 40)]
print(name_list)

[('Yamada', 20), ('Sato', 35), ('tanaka', 50), ('suzuki', 40)]

In [49]:
[i for i in range(len(name_list)) if name_list[i][1] >= 30]

[1, 2, 3]

In [50]:
prime = [2, 3, 5, 7, 11, 13]
prime_square = [x**2 if x**2 > 100 else None for x in prime]
prime_square

[None, None, None, None, 121, 169]

In [51]:
['x is 2' if x == 2 else 'x is 1' if x == 1 else 'other' for x in range(3)]

['other', 'x is 1', 'x is 2']

In [52]:
fib = [0, 1, 2, 3, 4, 5, 6, 7, 8, 13, 21, 34, 55, 89, 144, 233, 377]
del fib[0]
print(fib)

[1, 2, 3, 4, 5, 6, 7, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [53]:
del fib[2:5]
fib

[1, 2, 6, 7, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [54]:
import gc
gc.collect()

1420

In [55]:
tuple_square2 = 1, 4, 9, 16, 25
print(tuple_square2)

(1, 4, 9, 16, 25)

In [56]:
a, b, c, d, e = tuple_square2
print(a, b, c, d, e)

1 4 9 16 25

In [57]:
print(tuple_square2[1])

4

In [61]:
print(tuple_square2[2:5])

(9, 16, 25)

In [62]:
tuple_square = (1, 4, 9, 16, 25)
tuple

TypeError: 'tuple' object does not support item assignment